.campo-texto {
	width: 80%;
	margin: 24px 0;
}

.campo-texto label {
	display: block;
	margin-bottom: 8px;
	font-size: 24px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #212121;
}

.campo-texto input {
	background-color: #fff;
	box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
	width: 100%;
	border: none;
	font-size: 24px;
	padding: 24px;
	box-sizing: border-box;

	border-radius: 20px;
}

.campo-texto input::placeholder {
	font-size: 1rem;
	color: #a4a4a4;
}
